name: Update Lockfile

on:
  workflow_dispatch:

jobs:
  update:
    name: Update Lockfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "lts/*"

      - name: Install Dependencies
        run: npm install

      - name: Commit Lockfile
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: 'chore: update package-lock.json'
          file_pattern: 'package-lock.json'
